@model E_Commerce.Model.CustomerViewModel

@{
    ViewBag.Title = "ViewRecentOrderDetails";
    Layout = "~/Views/Shared/Layout/_FrontEndLayout.cshtml";
    var i = 1;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product List</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Order ID</th>
                                <th>Order ADDED</th>
                                <th>Total Price</th>
                                <th>Shipment Address</th>
                                <th>Order Item</th>
                                <th>Delete</th>
                                <th>Update</th>
                                <th>Single Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.ProductList)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @product.ProdcutItemId
                                    </td>
                                    <td>
                                        <img src="@product.ProductImage" width="100" height="100" alt="">
                                    </td>
                                    <td>
                                        @product.ProductName
                                    </td>
                                    <td>
                                        @if (product.ProductQuantity > 0)
                                        {
                                            @product.ProductQuantity
                                        }
                                        else
                                        {
                                            <span>Out Of Stock</span>
                                        }

                                    </td>
                                    <td>

                                        Category Name: @product.CategoryName <br />
                                        SubCategory Name:  @product.SubCategoryName
                                    </td>
                                    <td>
                                        <button onclick="showmodal(@product.ProductId)" class="btn btn-danger">Delete</button>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteProduct", "Product", new { Id = product.ProductId }, new { title = "Edit Item", @class = "btn btn-success", data_toggle = "tooltip", data_placement = "top" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Update", "GetSingleProduct", "Product", new { Id = product.ProductId }, new { title = "Edit Item", @class = "btn btn-success", data_toggle = "tooltip", data_placement = "top" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Single Details", "GetSingleProduct", "Product", new { Id = product.ProductId }, new { title = "Edit Item", @class = "btn btn-success", data_toggle = "tooltip", data_placement = "top" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Assing Supplier", "AssignSupplier", "Assignment", new { Id = product.ProductId }, new { title = "Edit Item", @class = "btn btn-success", data_toggle = "tooltip", data_placement = "top" })
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <div class="pagination-table-nav">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                @for (i = 1; i <= Model.totalpage; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" onclick="showdata(@i)">@i</a>
                                    </li>
                                }
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="id01" class="modal">
    <span class="close" title="Close Modal">×</span>
    @using (Html.BeginForm("DeleteSubCategory", "SubCategory", FormMethod.Post, new { @class = "modal-content" }))
    {
        <div class="container">
            <h1>Delete Category</h1>
            <p>Are you sure you want to delete this Category?</p>
            <input type="hidden" name="id" id="categoryid" />
            <div class="clearfix">
                <button type="button" id="close-CategoryDelete" , class="btn btn-danger">Cancel</button>
                <input type="submit" value="Delete" class="btn btn-success" />
            </div>
        </div>
    }
</div>
<script>
    // Get the modal
    $(document).ready(function () {
        $('#open-CategoryDelete').click(function () {
            /* $('#bookId').val($(this).data('id'));*/
            var inputF = document.getElementById("categoryid");
            let dataId = $(this).attr("data-id");
            inputF.setAttribute('value', dataId);
            /* document.getElementById("categoryid").innerHTML = dataId;*/
            $('#id01').fadeIn();
        });
    });
    $(document).ready(function () {
        $('#close-CategoryDelete').click(function () {
            $('#id01').hide();
        });
    });
</script>
<script>
    function showmodal(n) {
        document.getElementById('id01').style.display = 'block';
        $("#categoryid").val(n)
    }
    function closemenu() {
        $("#id01").hide();
    }
</script>
<style>
    .inputfield {
        width: 100px;
        height: 100px;
    }

    .title-addproduct {
        text-align: center;
        margin-bottom: 3%;
        margin-top: 2%;
    }

    .form-validation {
        padding: 0% 5%;
    }

    input#Product_ProductName {
        padding: 1%;
        width: 100%;
    }

    input#Product_ProductPrice {
        padding: 1%;
        width: 100%;
    }

    input#Product_TotalProduct {
        padding: 1%;
        width: 100%;
    }

    input.btn.btn-light {
        padding: 1% 12%;
        background-color: gainsboro;
        margin-left: 95%;
        margin-top: 5%;
    }
</style>
<style>
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        margin-left: 7%;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 3% 3% 4% 2%;
        border: 1px solid #888;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 0%;*/
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


