@model E_Commerce.Model.CustomerViewModel
@{

    Layout = "~/Views/Shared/Layout/_FrontEndLayout.cshtml";

}
@{
    ViewBag.Title = "login";
}


    <!-- Login Page Start -->
    <section class="tab-version">
        <div class="container">
            <div class="form-title-details">
                <h2 class="login-title">Log in</h2>
                <p class="login-short-details">
                    Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
            </div>
            <div class="aboutstart">
                @if (ViewData["Message"] != null)
                {
                    <h5 class="confirmationmessage" style="color:red">@ViewData["Message"]</h5>
                }

                @using (Html.BeginForm("login", "login", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                {
                    <div class="login-input">
                        @Html.TextBoxFor(Model => Model.user.UserName, new { @class = "login-from-input", @placeholder = "Enter Your User Name" })
                        @Html.ValidationMessageFor(Model => Model.user.UserName)
                    </div>
                    <div class="login-input">
                        @Html.TextBoxFor(Model => Model.user.UserPassword, new { @class = "login-from-input", @placeholder = "Enter Your Password" })
                        @Html.ValidationMessageFor(Model => Model.user.UserPassword)

                    </div>
                    <div class="social-button-details">
                        <a class="button-link facebook"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="button-link twitter"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <div class="login-input">
                        <button class="button-link loginbutton" type="submit"> Login</button>
                    </div>
                }
                <p class="">Don`t Have an Account?<a href="/login/registration">Register</a></p>
            </div>
        </div>
    </section>
    <section class="loginfromstart">
        <div class="container">

        </div>
        <div class=" login-form-details">

        </div>

    </section>
    <!-- Login Page End -->

