@model E_Commerce.Model.CustomerViewModel
@{
    Layout = "~/Views/Shared/Layout/_FrontEndLayout.cshtml";
    string imageurldomain = "https://localhost:44338";
}

<head>
    <!-- Jquery CDN link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Own Css -->
    <link rel="stylesheet" href="~/Assets/Own Css/index.css">
    <link rel="stylesheet" href="~/Assets/Own Css/category.css">
</head>

    <!-- category details start -->
    <section class="category-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 ">
                    <div class="subcategory product-filter">
                        <h4>Product filters</h4>
                        @using (Html.BeginForm("SortSearchProduct", "ProductFrontEnd", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                        {
                            if (Model.SubCategoryList != null)
                            {
                               
                                <ul>
                                    @foreach (var subcategory in Model.SubCategoryList)
                                    {
                                        <li>
                                            <input type="checkbox" id="vehicle2" name="subcategory" value=@subcategory.SubCategoryId>
                                            <label for="vehicle2">@subcategory.SubCategoryName</label><br>
                                        </li>
                                    }
                                </ul>
                            }
                            <input type="submit">
                        }

                    </div>
                    <div class="range product-filter">
                        <h4>Product Price Range</h4>
                        @using (Html.BeginForm("SortSearchProduct", "ProductFrontEnd", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                        {
                           
                            <span class="starting-value" id="starting-value">$ 0</span>
                            <input type="range" id="starting-valueprice" name="startingvalue" min="0" class="filter-range" onchange="updateTextInput()"> <br>
                            <span class="ending-value" id="ending-value">$ 1000</span>
                            <input type="range" id="ending-valueprice" name="endingvalue" min="0" class="filter-range" onchange="updateTextInput()"> <br>
                            <input type="submit">
                        }
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="product-list">
                        @if (Model.ProductList != null)
                        {
                            foreach (var product in Model.ProductList)
                            {
                                var Imageurl = imageurldomain + @product.ProductImage;
                                <div class="product">
                                    <div class="">
                                        <img src="@Imageurl">
                                        <div class="trending-product-details">
                                            <h4>@product.ProductName</h4>
                                            <p class="cash-details">@product.ProductPrice</p>
                                        </div>
                                        <div class="product-detail-button cart-button">
                                            <button class="details-button"><strong>+ ADD TO CART</strong></button>
                                           @Html.ActionLink("Single Details", "singleproduct", "ProductFrontEnd", new { Id = product.ProductId }, new {@class = "details-button" })
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Boothstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        function updateTextInput() {
            debugger
            var startingvalue = $("#starting-valueprice").val();
            var endingvalue = $("#ending-valueprice").val();
            document.getElementById("starting-value").innerHTML = startingvalue.toString();
            document.getElementById("ending-value").innerHTML = (startingvalue + endingvalue).toString();
        }
    </script>
    <style>
        .category-product {
            margin-top: 7%;
        }
    </style>

