@using E_Commerce.Utility;
@model E_Commerce.Model.CustomerViewModel
@{
    ViewBag.Title = "singleproduct";
    Layout = "~/Views/Shared/Layout/_FrontEndLayout.cshtml";
}
<head>
    <!-- Jquery CDN link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Own Css -->
    <link rel="stylesheet" href="~/Assets/Own Css/index.css">
    <link rel="stylesheet" href="~/Assets/Own Css/SingleProductDetails.css">
</head>

<!-- Single Product Details Start -->
<section class="single-product-details">
    <div class="container">
        <div class="row">
            <div class="product-detila">
                <div class="primary-image">
                    <img src="@(GlobalSettings.WebImageURL + Model.Product.ProductImage)" class="product-primary-image">
                    <!-- <img src="" id="product-primary-image-filter" class="product-primary-image-filter"> -->
                </div>
                <div class="primary">
                    <ul class="product-other-images slide-container">
                        @if (Model.Imagegallery != null)
                        {

                            var i = 0;
                            foreach (var ImageGallery in Model.Imagegallery)
                            {
                                <li class="product-imageitem slide" id="product-@i" data-value="@i">
                                    <img src="@(GlobalSettings.WebImageURL + ImageGallery.Images)" class="product-image-other" id="product-image-other">
                                </li>
                                i++;
                            }

                        }
                    </ul>
                </div>
                <div class="product-details-item">
                    <dikv class="filter-key column-gap-3">
                        <span class="prev" onclick="workingslide(-1)">Previous</span>
                        <span class="next" onclick="workingslide(1)">Next</span>
                    </dikv>
                    <div class="single-product-details-item">
                        <h4 class="single-product-title">@Model.Product.ProductName</h4>
                        <span class="single-product-price">$@Model.Product.ProductPrice</span>
                        <ul class="">
                            <li>
                                Category: <span class=""> @Model.Product.CategoryName</span>
                            </li>
                            @if (Model.Product.ProductQuantity > 0)
                            {
                                <li>
                                    Availibility: <span class="single-product-stock"> In Stock</span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    Availibility: <span class="single-product-stock">Out of Stock</span>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="single-product-details-item">
                        <p class="single-product-details">
                            @Model.Product.ProductDescription
                        </p>
                    </div>
                    <div class="single-product-details-item-button">
                        <div class="single-product-button">
                            <span class="inumber-decrement" onclick="decrement()">- </span>
                            <input class="input-number" id="input-number" type="number" value="1">
                            <span class="number-increment" onclick="increment()">+</span>
                        </div>
                        <button class="single-product-cart-button" onclick="addtocart()"> <strong>+ ADD TO CART</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Product-full-details">
    <div class="container">
        <div class="row">
            <div class="tab-filter-button col-md-12">
                <button class="filter-button activebutton" onclick="showtabitems(this)" data-tab-details="product-description" id="Description">Description</button>
                <button class="filter-button activebutton" onclick="showtabitems(this)" data-tab-details="product-specification" id="Specification">Specification</button>
                <button class="filter-button activebutton" onclick="showtabitems(this)" data-tab-details="product-faq" id="FAQ">FAQ</button>
                <button class="filter-button activebutton active-filter-button" onclick="showtabitems(this)" data-tab-details="product-reviews" id="Reviews">Reviews</button>
            </div>
            <div class="tab-bar-items">
                <div class="hideshowitem" id="product-description">
                    <div class="col-lg-12 col-md-12 col-sm-12 details">
                        <p class="product-long-description">
                            @Model.Product.ProductDescription
                        </p>

                    </div>
                </div>
                <div class="hideshowitem" id="product-specification">
                    <div class="col-lg-12 col-md-12 col-sm-12 details">
                        <table class="table table-striped product-details-table">
                            <tbody>

                                <tr>
                                    <td>Product Color</td>
                                    <td>@Model.Product.ProductColor</td>
                                </tr>
                                <tr>
                                    <td>Product Depth</td>
                                    <td>@Model.Product.ProductDepth</td>
                                </tr>
                                <tr>
                                    <td>Product Freshness Duration</td>
                                    <td>@Model.Product.ProductFreshnessDuration</td>
                                </tr>
                                <tr>
                                    <td>Product Weight</td>
                                    <td>@Model.Product.ProductWeight</td>
                                </tr>
                                <tr>
                                    <td>Product Width</td>
                                    <td>@Model.Product.ProductWidth</td>
                                </tr>
                                <tr>
                                    <td>Larry</td>
                                    <td>@Model.Product.ProductWidth</td>
                                </tr>
                                <tr>
                                    <td>Product Height</td>
                                    <td>@Model.Product.ProductHeight</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="hideshowitem" id="product-reviews">
                    <div class="col-lg-7 col-md-7 col-sm-12 details">
                        <div class="rating-details">
                            <div class="total-rating-details">
                                <div class="stars">
                                    <div class="stardesign">
                                        @for (double j = 0.0; j < Model.RatingDetails.AverageStarRating; j++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }
                                    </div>
                                    <h6 class="rating-details-title">@Model.RatingDetails.AverageStarRating average</h6>
                                </div>
                                <div class="total-review">
                                    <i class="fas fa-user-tie"></i>
                                    <h6 class="rating-details-title">@Model.RatingDetails.TotalCustomerRating reviews.</h6>
                                </div>
                            </div>
                            <div class="single-total-review">
                                <div class="side">
                                    <div>5 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-5 text">
                                            @Model.RatingDetails.TotalFiveStarRating
                                        </div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@Model.RatingDetails.TotalFiveStarRatingCUstomer</div>
                                </div>
                                <div class="side">
                                    <div>4 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-4 text">
                                            @Model.RatingDetails.TotalFourStarRating
                                        </div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@Model.RatingDetails.TotalFourStarRatingCUstomer</div>
                                </div>
                                <div class="side">
                                    <div>3 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-3 text">
                                            @Model.RatingDetails.TotalThreeStarRating

                                        </div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@Model.RatingDetails.TotalThreeStarRatingCUstomer</div>
                                </div>
                                <div class="side">
                                    <div>2 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-2 text">
                                            @Model.RatingDetails.TotalTwoStarRating
                                        </div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@Model.RatingDetails.TotalTwoStarRatingCUstomer</div>
                                </div>
                                <div class="side">
                                    <div>1 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-1 text">
                                            @Model.RatingDetails.TotalOneStarRating
                                        </div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@Model.RatingDetails.TotalOneStarRatingCUstomer</div>
                                </div>
                            </div>
                        </div>
                        <div class="hideshowitem product-review">
                            <ul class="product-reviews-details">
                                @foreach (var customerReview in Model.ReviewList)
                                {
                                    var totalrating = 0;
                                    <li>
                                        <div class="review-details">
                                            <div class="user-details">
                                                <div class="customer-details">
                                                    <h5>@customerReview.CustomerName</h5>
                                                    @for (var n = 0; n > customerReview.TotalRating; n++)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                        totalrating++;
                                                    }
                                                    @if (totalrating < 5)
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }

                                                </div>
                                            </div>
                                            <p>
                                                @customerReview.Review
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 details">

                        <div id="confiramtionmsg" style="display:none;">
                            <span>
                                Your Review havebeen added !!!
                            </span>
                        </div>
                        <h4 class="form-subtitle">Add a Review</h4>
                        <div class="rating-part">
                            <input class="input-item" type="hidden" id="product-id" value="">
                            <div class="rating-star">
                                <span class="fa fa-star ratingstaruser"></span>
                                <span class="fa fa-star ratingstaruser"></span>
                                <span class="fa fa-star ratingstaruser"></span>
                                <span class="fa fa-star ratingstaruser"></span>
                                <span class="fa fa-star ratingstaruser"></span>
                            </div>
                            <div class="comment">
                                <h6 class="comment-rating" id="comment-rating"></h6>
                                <input class="input-item" type="hidden" id="rating">
                            </div>
                        </div>
                        <form class="">
                            <div class="input-field">
                                <input class="input-item" type="text" id="name" placeholder="Your Full Name">
                            </div>
                            <div class="input-field">
                                <input class="input-item" type="email" id="email" placeholder="Your Email Address">
                            </div>
                            <div class="input-field">
                                <textarea class="teview-item" id="review" placeholder="Review"></textarea>
                            </div>
                            <button id="submit-button" class="review-button" value="submit">Submit Now</button>
                        </form>

                    </div>
                </div>
                <div class="hideshowitem" id="product-faq">
                    <h4 class="form-subtitle">Frequently Asked Question</h4>
                    <div class="faq-items">
                        @if (Model.FAQList != null)
                        {
                            foreach (var faq in Model.FAQList)
                            {
                                <div class="item">
                                    <div class="faq-title">
                                        <i class='fas fa-angle-double-right side-arrow'></i>
                                        <i class='fas fa-angle-double-down side-arrow'></i>
                                        <h4 class="faq-title">@faq.FAQQuestion</h4>
                                    </div>
                                    <p class="faq-detals">
                                        @faq.FAQAns
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .single-product-details {
        margin-top: 7%;
    }

    .tab-filter-button {
        margin-left: 0% !important;
    }

    .tab-bar-items {
        margin-left: 0% !important;
    }
</style>

<script>
    // Image Gallery Start
    const imagegallery = document.querySelectorAll("#product-other-images .product-imageitem img");
    const showimage = document.querySelector(".primary-image img");
    imagegallery.forEach((img, index) => {
        img.addEventListener("click", () => {
            showimage.src = img[index].src;
        });
    });
    // FAQ Start
    $(".faq-detals").hide();
    $(".fa-angle-double-down").hide();
    $(".fa-angle-double-down").hide();
    const faqgallery = document.querySelectorAll(".faq-items .item");
    faqgallery.forEach((faq, index) => {
        faq.addEventListener("click", () => {
            $(".fa-angle-double-right").eq(index).toggle();
            $(".fa-angle-double-down").eq(index).toggle();
            $(".faq-detals").eq(index).slideToggle();
        });
    });
    // Star Rating
    const starrating = document.querySelectorAll(".rating-star span");
    const test = document.getElementsByClassName("ratingstaruser");
    starrating.forEach((rating, index) => {
        rating.addEventListener("click", () => {
            for (i = 0; i < index; i++) {
                test[i].classList.add("activestarratinguser");
            }
            if (index == 0) {
                document.getElementById("comment-rating").innerHTML = "Very Poor";
                $(".rating").value(1);
            }
            if (index == 1) {
                document.getElementById("comment-rating").innerHTML = "Poor";
                $(".rating").value(2);
            }
            if (index == 2) {
                document.getElementById("comment-rating").innerHTML = "Normal";
                $(".rating").value(3);
            }
            if (index == 3) {
                $(".rating").value(4);
                document.getElementById("comment-rating").innerHTML = "Good";
            }
            if (index == 4) {
                $(".rating").value(5);
                document.getElementById("comment-rating").innerHTML = "Excelent";
            }
        });
    });
    // Submit Review
    $("#submit-button").click(function () {
        debugger
        //let review = {};
        //review.Review = $("#review").val();
        //review.ProductId = $("#product-id").val();
        //review.TotalRating = $("#rating").val();
        //review.CustomerName = $("#name").val();
        //review.CustomerEmail = $("#email").val();
        var review = $("#review").val();
        var productId = $("#product-id").val();
        var totalRating = $("#rating").val();
        var customerName = $("#name").val();
        var customerEmail = $("#email").val();
        var Review =
        {
            Review: review,
            ProductId: productId,
            TotalRating: totalRating,
            CustomerName: customerName,
            CustomerEmail: customerEmail
        }
        //  let reviewdetails = JSON.parse(review);
        console.log(Review);
        if (Review != null) {
            $.ajax({
                url: "/ProductFrontEnd/SubmitReview",
                Method: "POST",
                data: '{Review: ' + JSON.stringify(Review) + '}',
                // data: {reviewvalue:review},
                // data: Review,
                success: function (data) {
                    if (JSON.parse(data) == true) {
                        $('#confiramtionmsg').css("display", "block");
                    }
                    else {
                        $('#confiramtionmsg').css("display", "hide");
                    }
                },
                error: function () {
                    alert('Failed to receive the Data');
                    $('#confiramtionmsg').css("display", "hide");
                    console.log('Failed ');
                }
            })
        }
        else {
            $('#confiramtionmsg').css("display", "hide");
        }
    });

    // SLider

    let slide = 3;
    var slidenostart = 1;
    for (i = 0; i < slide; i++) {
        $(".product-imageitem").eq(i).show();
        if (slidenostart == 1) {
            $(".product-other-images li").eq(i).addClass("slideno1");
        }
        if (slidenostart == 2) {
            $(".product-other-images li").eq(i).addClass("slideno2");
        }
        if (slidenostart == 3) {
            $(".product-other-images li").eq(i).addClass("slideno3");
        }
        slidenostart++;
    }

    var slidelengh = $(".product-other-images li");
    for (i = 3; i < slidelengh.length; i++) {
        $(".product-other-images li").eq(i).hide();
    }

    var i = 1;
    function totalitem(n) {
        i = i + (n);
        document.getElementById("input-number").value = i;
    }

    $("#product-reviews").show();
    function showtabitems(id) {
        var tabbutton = "#" + id.getAttribute("data-tab-details");
        var buttonid = id.innerHTML;
        var element = document.getElementsByClassName("filter-button");
        for (i = 0; i < 4; i++) {
            element[i].classList.remove("active-filter-button");
            // element[i].classList.
        }
        $(".hideshowitem").hide();
        id.classList.add("active-filter-button");
        $(tabbutton).fadeIn();
    }
    function workingslide(n) {
        //  var slidelengh= $(".product-other-images li");
        var slidenostartno = 1;
        slide = slide + (n);
        if (slide > slidelengh.length) {
            slide = 1;
        }
        // if(slide<3)
        // {
        //   slide=1;
        // }
        for (i = 0; i < slidelengh.length; i++) {
            $(".product-other-images li").eq(i).hide();
            $(".product-other-images li").eq(i).removeClass("slideno1");
            $(".product-other-images li").eq(i).removeClass("slideno2");
            $(".product-other-images li").eq(i).removeClass("slideno3");
        }
        for (i = slide - 3; i < slide; i++) {

            $(".product-other-images li").eq(i).show();
            if (slidenostartno == 1) {
                $(".product-other-images li").eq(i).addClass("slideno1");
            }
            if (slidenostartno == 2) {
                $(".product-other-images li").eq(i).addClass("slideno2");
            }
            if (slidenostartno == 3) {
                $(".product-other-images li").eq(i).addClass("slideno3");
            }
            slidenostartno++;
        }
    }
    // Primary Condition
</script>
<!-- Boothstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!--Own Js-->
<script src="~/CartJS/Cart.js"></script>
