@{

    Layout = "~/Views/Shared/Layout/_FrontEndLayout.cshtml";
    
}
@model E_Commerce.Model.CustomerViewModel

    <section class="contactdetailsstart">
        <div class="container">
            <div class="contactdetails">
                <div class="contact">
                    <div class="contacttitle">
                        <span> icon</span>
                        <h5>Email Adress</h5>
                    </div>
                    <p>
                        <a href="mailto:email@example.com">email@example.com</a>
                    </p>
                </div>
                <hr class="bewteenline">
                <div class="contact">
                    <div class="contacttitle">
                        <span> icon</span>
                        <h5>Phone Number</h5>
                    </div>
                    <p>
                        +(0888)01900000000000000
                    </p>
                </div>
                <hr class="bewteenline">
                <div class="contact">
                    <div class="contacttitle">
                        <span> icon</span>
                        <h5>Address</h5>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illum, ipsum porro ea quia at laboriosam aperiam, tempora veritatis nemo officia nulla iste blanditiis dicta labore debitis minima voluptates quod.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="social-id-details">
        <div class="container">
            <div class="social-media-details-item">
                <ul class="social-media-list">
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-youtube"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact-email-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" class="col-lg-12 col-md-12 col-sm-12" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="">
                        <div class="appointmentfromitem">
                            <h4>Want to make an appointmnet US?</h4>
                            <a class="btn btn-success" id="showform">Appointment</a>
                        </div>
                        <div class="Contactfromitem"  style="display:none;">
                            <h4>Want to Contact US?</h4>
                            <a class="btn btn-success" id="showcontact">Contact US</a>
                        </div>
                        <div id="appointmentfrom" style="display:none;">
                            <h2 class="contact-title text-center">Make an Appointment</h2>
                            <p class="contact-short-details text-center">
                                Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                            @if (ViewData["Message"] != null)
                            {
                                <p class="confirmationmsg">@ViewData["Message"]</p>
                            }
                            @using (Html.BeginForm("AddnewAppopintment", "index", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                            {
                                <div class="login-input">
                                    @Html.TextBoxFor(Model => Model.Appointment.CustomerName, new { @class = "login-from-input", @placeholder = "Enter Your Full Name" }) <br />
                                    @Html.ValidationMessageFor(Model => Model.Appointment.CustomerName)
                                </div>
                                <div class="login-input">
                                    @Html.TextBoxFor(Model => Model.Appointment.CustomerPhoneNumber, new { @class = "login-from-input", type = "number", @placeholder = "Enter Your Phone Number" }) <br />
                                    @Html.ValidationMessageFor(Model => Model.Appointment.CustomerPhoneNumber)

                                </div>
                                <div class="login-input">
                                    @Html.TextBoxFor(Model => Model.Appointment.CustomerEmail, new { @class = "login-from-input", type = "email", id = "email", @placeholder = "Enter Your Email" }) <br />
                                    @Html.ValidationMessageFor(Model => Model.Appointment.CustomerEmail)
                                    <span id="email-validation-error" class="error" for="last_Name" style="display: none"> Please Enter a Valid Email</span>
                                </div>
                                <div class="login-input">
                                    @Html.TextBoxFor(Model => Model.Appointment.AppointmentSubject, new { @class = "login-from-input", @placeholder = "Subject" }) <br />
                                    @Html.ValidationMessageFor(Model => Model.Appointment.AppointmentSubject)
                                </div>
                                <div class="login-input">
                                    @Html.TextAreaFor(Model => Model.Appointment.AppointmentMessage, new { @class = "form-control login-from-input text-input-form", @id = "exampleFormControlTextarea1", rows = "3", @placeholder = "Message" })  <br />
                                    @Html.ValidationMessageFor(Model => Model.Appointment.AppointmentMessage)
                                </div>

                                <div class="login-input">
                                    <button class="button-link loginbutton" type="submit">Send</button>

                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" id="login">
                    <h2 class="contact-title text-center">Contact</h2>
                    <p class="contact-short-details text-center">
                        Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    @if (ViewData["Message"] != null)
                    {
                        <p class="confirmationmsg">@ViewData["Message"]</p>
                    }
                    @using (Html.BeginForm("contact", "index", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                    {
                        <div class="login-input">
                            @Html.TextBoxFor(Model => Model.Email.CustomerFullName, new { @class = "login-from-input", @placeholder = "Enter Your Full Name" }) <br />
                            @Html.ValidationMessageFor(Model => Model.Email.CustomerFullName)
                        </div>
                        <div class="login-input">
                            @Html.TextBoxFor(Model => Model.Email.CustomerEmailAddress, new { @class = "login-from-input", type = "email", id = "email", @placeholder = "Enter Your Email" }) <br />
                            @Html.ValidationMessageFor(Model => Model.Email.CustomerEmailAddress)
                            <span id="email-validation-error" class="error" for="last_Name" style="display: none"> Please Enter a Valid Email</span>
                        </div>
                        <div class="login-input">
                            @Html.TextBoxFor(Model => Model.Email.EmailSubject, new { @class = "login-from-input", @placeholder = "Subject" }) <br />
                            @Html.ValidationMessageFor(Model => Model.Email.EmailSubject)
                        </div>
                        <div class="login-input">
                            @Html.TextAreaFor(Model => Model.Email.Email, new { @class = "form-control login-from-input text-input-form", @id = "exampleFormControlTextarea1", rows = "3", @placeholder = "Message" })  <br />
                            @Html.ValidationMessageFor(Model => Model.Email.Email)
                        </div>
                        <div class="login-input">
                            <button class="button-link loginbutton" type="submit"><i></i> Send</button>

                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

<style>
    .field-validation-error
    {
        color: red;
    }
    #email-validation-error
    {
        color: red;
    }
    .confirmationmsg
    {
        color: red;
    }
    .appointmentfromitem {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 10%;
    }
</style>
<script>
    $("#showform").click(function () {
        $("#appointmentfrom").css("display", "block");
        $(".appointmentfromitem").css("display", "none");
        $("#login").css("display", "none");
        $(".Contactfromitem").css("display", "block");
        
    })
    $("#showcontact").click(function () {
        $("#appointmentfrom").css("display", "block");
        $(".appointmentfromitem").css("display", "none");
        $("#login").css("display", "none");
        $(".Contactfromitem").css("display", "none");
    })
    $("#email").change(function () {
        var userinput = $("#email").val();
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA>-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!regex.test(userinput)) {
            $("#email-validation-error").css("display", "block");
        }
        else if (userinput == null) {
            $("#email-validation-error").css("display", "none");
        }
        else {
            $("#email-validation-error").css("display", "none");
        }
    });
</script>